<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма4</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
<div class="a"><h2>Имя: {{ k1 }} </h2></div>
<div class="b"><h2>Возраст: {{ k2 }}</h2></div>
<div class="a"><h2>Пол: {{ k3 }}</h2></div>
<div class="b"><h2>Место жительства: {{ k4 }}</h2></div>
<div class="a"><h2>Email: {{ k5 }}</h2></div>
<div class="b"><h2>Образование: {{ k6 }}</h2></div>
<div class="a"><h2>Вы курите? {{ k7 }}</h2></div>
<div class="b"><h2>Домашнее животное: {{ k8 }}</h2></div>
<div class="a"><h2>Статус: {{ k9 }}</h2></div>
<div class="c"><img src="{% static k10 %}" alt="фото"></div>


</body>
</html>